.product-card-component {
    width: 34rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.product-image-component {
    width: 22%;
    border-bottom: 2px solid #f0f0f0;
}

.product-info {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-info h3 {
    font-size: 1.25rem;
    color: #333;
    margin: 0;
    font-weight: 600;
}

.product-info p {
    font-size: 0.875rem;
    color: #666;
    margin: 0;
}

.product-rating {
    font-size: 0.875rem;
    color: #f39c12;
}

.product-info p strong {
    color: #333;
    font-weight: 600;
}

.product-info p:last-child {
    font-size: 1.125rem;
    color: #27ae60;
}


@media (max-width: 768px) {
    .product-card-component {
        width: 100%;
    }
}
.product-card-button{
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}
.product-card-button:hover {
    background-color: #f0f0f0;
}