.product-list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

.btn-primary{
    background-color: #9ab6d5;
    border-color: #007bff;
    color: white;
    width: 14rem;
    height: 3rem;
    color: #000;
    border-radius: 18px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.pagination button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.pagination button:disabled {
    background-color: #e0e0e0;
    border-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #0056b3;
    transform: scale(1.05);
}

.pagination span {
    font-size: 1rem;
    color: #333;
}

.pagination button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5);
}
